*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Pixelify Sans"; 
    background-color: #808080;
    text-align: center;
    margin-top: 20px;
}
#block{
    background-color: white;
    margin-top: 30px;
    text-align: right;
}
link{
    align-content: center;
}